/*------------------------------------*\
    `VARIABLES:
\*------------------------------------*/

/**
 * COLORS
 *
 */

/**
 * FONTS
 *
 */

$fonts-base: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$fonts-alt-goth: "alternate-gothic-no-1-d", $fonts-base;
$fonts-franklin: "franklin-gothic-urw", $fonts-base;
