<footer class="global-footer">

  <h3>Keep Cool</h3>
  <ul>
    <li><a href="">Cool Your Self</a></li>
    <li><a href="">Cool Your Stuff</a></li>
    <li><a href="">Cool Your Space</a></li>
  </ul>

  <ul>
    <li><a href="">The Cove</a></li>
    <li><a href="">About Arctic Cove</a></li>
    <li><a href="">Customer Service</a></li>
    <li><a href="">Product Registration</a></li>
    <li><a href="">Sign In</a></li>
  </ul>

  <h3>Collections</h3>
  <ul>
    <li><a href="">Job Site</a></li>
    <li><a href="">Dorm Room</a></li>
    <li><a href="">Tailgating</a></li>
    <li><a href="">At the Beach</a></li>
  </ul>

  <h3>Product Types</h3>
  <ul>
    <li><a href="">Hydration</a></li>
    <li><a href="">Fans</a></li>
    <li><a href="">Towels</a></li>
    <li><a href="">Coolers</a></li>
    <li><a href="">Personal Misters</a></li>
    <li><a href="">Misting Kits</a></li>
    <li><a href="">Evap Coolers</a></li>
  </ul>

</footer> <!-- / .global-footer -->
