<header class="global-header">

  <h1>Arctic Cove</h1>

  <nav class="global-nav">
    <ul class="pack">
      <li class="pack__item"><a href="">Keep Cool</a></li>
      <li class="pack__item"><a href="">The Cove</a></li>
      <li class="pack__item"><a href="">Promotions</a></li>
    </ul>
  </nav>

  <form id="search" class="global-search">
    <input></input> <button class="button">Search</button>
  </form>

</header>
